Hasznos képek Fájlok/.DS_Store
Hasznos képek Fájlok/Képernyőfotó 2023-04-02 - 14.01.36.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-02 - 14.02.41.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-02 - 14.03.23.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-02 - 14.04.50.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-13 - 18.08.14.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-13 - 18.08.17.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-13 - 18.08.30.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-13 - 22.25.26.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-17 - 20.02.04.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-24 - 19.00.13.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-30 - 12.51.16.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-30 - 12.52.45.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-30 - 13.12.31.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-30 - 13.12.38.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-30 - 13.13.29.png
Hasznos képek Fájlok/Képernyőfotó 2023-04-30 - 13.55.49.png
Hasznos képek Fájlok/Képernyőfotó 2023-05-23 - 11.41.09.png
Hasznos képek Fájlok/Képernyőfotó 2023-06-12 - 14.16.02.png
Hasznos képek Fájlok/Képernyőfotó 2023-09-17 - 16.07.58.png
Hasznos képek Fájlok/Képernyőfotó 2023-09-24 - 17.06.55.png
python/Fájlok_olvasása_írása.py/__pycache__/pickle.cpython-312.pyc
python/Függvények/Turtle_Modul/__pycache__/turtle.cpython-311.pyc
python/Függvények/Turtle_Modul/__pycache__/turtle.cpython-312.pyc
