body{
background-color: rgb(0, 0, 0);
margin:5px;
}
main{
    
    color:hsla(191, 91%, 37%, 0.871);
}
h1{
    color: rgb(54, 3, 80);
}
h2{
    color: #eaea00;
}
ul{
    display:flex;
    flex-wrap: wrap;

}
li{
    flex-wrap: wrap;
}

#navigacios_menu{
    margin:1%;
    padding:1%;
    display: flex;
    color:red;
    flex-wrap: nowrap;
    justify-content:space-around;
    border-color: black;
    border-style: solid;
    align-items: flex-end;
}

#profilkep{
    width: 0.5%;
    min-width: 150px;
    max-width: 250px;
    margin:5px;
    border-radius: 50%;
    border-style:dotted;
    border-color: rgba(240, 248, 255, 0);
    flex-shrink:2;
    flex-grow:1;
    justify-self: flex-start;
}

#profilkep:hover{
    margin:5px;
   border-style: dashed;
   border-spacing: 2px;
   border-color:#eaea00 ;

    transform: scale(1.05);
    /*box-shadow: -20px -2px #fffffda4;*/
}






.navigacios_elemek {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    border-style: dotted;
    border-color: #eaea00;
   
}
.navigacios_elemek:hover {
    border-style: dotted;
    border-color: #4e00ea;

   }



