body{
    /* min-width: 300px; */
    background-image: url(../Képek/Holiday-along-with-the-heroes-of-Disney-Mickey-Minnie-Donald-and-Daisy-on-the-beach-Desktop-HD-Wallpaper-for-Mobile-phones-Tablet-and-PC-2560x1600-840x525.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}
h1{
    position: sticky;
    text-decoration-line: underline;
    text-align: center;
    text-transform: uppercase;
    top: 0%;
    color: rgb(194, 182, 151);
    border: 5px;
    border-color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-style: dotted;
}
article{
    background-color: rgba(0, 255, 255, 0.912);
    list-style-position: inside ;
    list-style:upper-roman;
    /* text-decoration: dotted; */
    /* text-decoration-line: underline; */
    /* font-weight: bold; */
    /* max-width: 70%; */
    border-radius: 15px;
    padding: 4%;
    margin-bottom: 2rem;
    /* Ez a max width a Section szélességének méretéhez van mérve */
    /* max-width: 80%; */
  

}

h3{
    font-weight: 600px;
    font-style: italic;
}

nav{
    position: sticky;
    top: 7%;
    background-color:rgb(194, 182, 151);
    height: 2em;
    text-align: left;
}

ol article ol{
    text-transform: lowercase;
    background-color: rgba(1, 1, 1, 0.131);
} 
 
section{
    /* ez a max-width  az oldal szélességének méretéhez képest van mérve*/
    min-width: 400px;
    /* max-height: 10%; */
    border: 2px dotted transparent; 

}
section:hover{
    background-color: #ffffffb2;
    border: 2px dotted;
}
a:hover{
    background-color: rgb(85, 78, 57);
    color: #ffffff;
    font-weight: 700;
}
table{
    border-style: ridge;
}
thead{
    font-weight: 800;
    text-align: center;
    background-color: rgb(58, 155, 122);
}
 td:nth-child(2) {
    text-align: center;
}
 td:nth-child(3){
    text-align: center;
}
tfoot{
    font-weight: bold;
    background-color: rgba(58, 155, 123, 0.715);
}
tbody tr:nth-child(even){
    background-color: rgba(144, 246, 212, 0.889);
}
tbody tr:nth-child(odd){
    background-color: white;
}
[type=button]{
    text-transform: uppercase;
    padding: 8px;
    border:none;
}
.btn-primary{
    background-color: black;
    color:white;
    border-color: black;
}
.btn-primary:hover{
    background-color: white;
    color:black;
}
.btn-secondary{
    background-color: white;
    color:black;
    border-color: white;
}
.btn-secondary:hover{
    background-color: black;
    color:white;
}
.btn-success{
    background-color: green;
    color:white
}
.btn-success:hover{
    background-color: rgb(24, 83, 24);
}
.btn-info{
    background-color: rgb(29, 199, 255);
    color: white;
}
.btn-info:hover{
    background-color: rgb(22, 139, 179);
}
.btn-warning{
    background-color: orange;
    color: white;
}
.btn-warning:hover{
    background-color: rgb(201, 148, 49);

}
.btn-danger{
    background-color: red;
    color:white
}
.btn-danger:hover{
    background-color: rgb(150, 1, 1);
}
.btn-link{
    background-color: transparent;
}
input{
    padding: 6px;
    
    width: 90%;
}
.flexbox-tarolo{
    display:flex;
    background-color: chocolate;
    /* Az alábbi tulajdonságokat fontos, hogy a tárolóra vonatkoztassuk, ne pedig az abban levő elemekre!!! */
    
    /* justify-content: center; */
    /* Ha használjuk a flex-wrap-et, akkor az egy sorban levő, már nem kiférő elemeket következő sorba teszi */
    flex-wrap: wrap;
    flex-direction: row;
    /* A flex-flow paraméterrel egyszerre  állíthatjuk a "wrap"-et és a "direction"-t*/
    flex-flow: wrap row;

 }
.flexbox-tarolo div{
    color: white;
    background-color: #b44e4e;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
.flexbox-tarolo-justify-content{
    display: flex;
    background-color: burlywood;
    justify-content: space-evenly;
    flex-flow: wrap row;
}
.flexbox-tarolo-justify-content div{

background-color: #4eb469;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
.flexbox-tarolo-align-items{
    display: flex;
    background-color: rgb(222, 135, 221);
    justify-content: space-evenly;
    flex-flow: wrap row;
    align-items:center;
    height: 40rem;
}
.flexbox-tarolo-align-items div{
    color: white;
    background-color: #5f4eb4;
    width: 100px;
    /* height: 100px; */
    margin: 10px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
.flexbox-tarolo-align-content{
    display: flex;
    background-color: rgb(3, 213, 255);
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:flex-end;
    align-content: stretch;
    height: 600px;
  
}
.flexbox-tarolo-align-content div{
    color: rgb(0, 0, 0);
    background-color: #dad017;
    width: 100px;
    /* height: 100px; */
    margin: 10px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
h4{
    font-style: italic;
    text-decoration: solid white;
    text-decoration-line: underline;
}
.negy-elemu-tarolo{
    display: flex;
    font-size: xx-large;
    background-color: #ffffff;
    color: black;
}
.flexbox-elem{
    background-color: #5f4eb4;
    color: #ffffff;
}
#flexbox-onallo-elem-egy{
    background-color: #4eb469;
}
#flexbox-onallo-elem-egy-ketto{
    background-color: #dad017;

}