* {box-sizing: border-box;}
body{

    margin-top: 10px;
    background-image: url(https://www.praktiker.hu/_upload/editor/cikkek_2018_januar/900x600/montazs.jpg);
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    padding: 0;
  

}

header{
    margin-left: 5%;
    margin-right: 5%;
    position: -webkit-sticky;
    position: sticky;
    top:1%;
    user-select: none;
   
}


h1 {
    font-family: 'Aboreto', cursive;
    color: #ffffff;
    text-align: center;
    background-color: #6fa0b3;
    /* max-width: 700px; */
    width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-color:  #1c5193;
    border-top-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;
  

}
.szekciók{
    scroll-margin-block-start: 100px;
}
h2 {
    font-family: 'Aboreto', cursive;
    color:  #fed955;
    
    text-align: center;
    font-weight: 650;
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 10px;
    text-transform: lowercase;
}

article {
    user-select: none;
    max-width: 700px;
    font-family: cursive;
    border-style: ridge;
    border-color: rgba(161, 3, 3, 0.4);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);    
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: x-large;
    margin-top: 140px;
    margin-left: 5%;
    
}


.cikk_lista {
    font-weight: 600;

 
}

hr {
    color: #1C7293;
}
.cg_blue_szoveg {
    color: #1C7293;
    background-color: white;
    font-weight: 600;
}
.Orange_red_crayola_szoveg{
    color: #fe5f55;
    background-color: rgba(255,255,255,100);
    font-weight: 600;
}
ol {
    text-transform: uppercase;
    font-weight: 600;
    list-style-position: inside;
    margin: 20px;
    border-color: #1C7293;
    border: 2px;
    border: dotted;
    padding: 15px;
    border-radius: 15px;
 }
ul {
     
    border: none;
    font-weight: 100;
    text-align: left;
    text-transform: none;
}
/*.normal_text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}*/
nav a:hover{
    background: #6fa0b3;
    color: rgb(255, 255, 255);
    font-style: italic;
}
 nav{   
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Aboreto', cursive;
    padding: px;

}
/* 
#fe5f55 : Orange red crayola
#FFC857 : maximum yellow red
#1f2041 : space cadet
#1C7293 : CG blue
#218380 : Teal 
*/ 

.navigation_bar {
    
    position: -webkit-sticky;
    position: sticky;
    top: 6%;
    font-size: medium;
    background-color: #ffffff ;
    border-radius: 10px;
    border-color:  #1c5193;
    border-style: ridge;
}
